In [16]:
def factorization(x):
    primenum = []
    num = 2
    while num <= x:
        if x%num == 0:
            primenum.append(num)
            x = x/num
        else:
            num+= 1
    return primenum

factorization(630)

[2, 3, 3, 5, 7]

In [38]:
def palindrome(x):
    import re
    
    clean_string = re.sub('[^a-z]', '', x.lower())
    for i in range(int(len(clean_string)/2)):
        if clean_string[i] == clean_string[len(clean_string)-(i+1)]:
            pass
        else:
            return False
    
    
    return True

palindrome('No On')

True

In [47]:
import pandas as pd

file = pd.read_fwf('Projects/Ex_Files_Python_Automation/Exercise Files/inputFile.txt', delimiter = ' ', header = None)
file

               0
0      Mary 25 P
1      John 32 P
2     Dylan 19 F
3     Julia 23 F
4      Chad 17 F
5      Jack 20 F
6    Hailey 26 P
7      Iris 23 P
8     Jacob 29 P
9     Jalen 37 F
10  Anthony 47 F
11    Jamie 26 P
12   Sydney 19 F
13    Chloe 21 P
14  Natalie 29 P
15    David 23 P
16    Mario 51 P
17    Jenna 28 F
18     Josh 39 P
19   Damean 42 F
20     Zach 19 F
21    Kayla 28 P
22      Ben 14 F
23   Hunter 61 P
24   Albert 29 F
25   Lauren 31 F
26    Erica 16 P
27     Kyle 19 P
28   Jordan 29 F
29    Kaleb 47 F
30  Rosanna 45 P
31      Joy 28 P
32     Bill 29 F
33      Jim 67 P
34    Robin 24 F
35    Sansa 28 P
36     Juan 73 P
37    Colin 59 P
38      Jake 8 F
39     Kate 58 P
40     Jade 26 P
41    River 29 P
42    Chris 31 P
43    Grace 18 F